body {
    text-align: center;
    background-image:url(https://readysteadycut.com/wp-content/uploads/2021/09/AAAABZ2sIVr92spXMLzEuOdC4WQgIHRwAfGlIchnnAURwJzIOem2qk2yfbz5amA-nhBMW4n1lzwQukTijvAm_VbgERhQn_jm-4.jpg);
}
h1{
    font-family: system-ui;
    display:inline-flex;
}
a:link, a:visited{
    text-decoration: none;
}
#sep{
    margin-top:-10px;
    margin-right:-10px;
    margin-left:-10px;
    background-color:#e8cfed;
    padding-bottom:5px;
}